{% extends 'base/base.html' %}
{% load static %}
{% block title %}Explore - Twitter Clone{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
{% endblock css %}

{% block content %}
<div class="explore-container">
    <h1>Explore</h1>
    
    <div class="explore-feed">
        <!-- Loop through posts -->
        {% for post in posts %}
        <div class="tweet-card" id="post-{{ post.id }}">
            <div class="tweet-header">
                <img src="{{ post.author.pic.url }}" alt="{{ post.author.username }}" class="tweet-avatar">
                <div class="tweet-user-info">
                    <strong>{{ post.author.first_name }}</strong>
                    <span>@{{ post.author.username }}</span>
                </div>
            </div>
            <div class="tweet-body">
                <h2>{{ post.title}}</h2>
                <p>{{ post.description }}</p>
                {% if post.pic %}
                    <img src="{{ post.pic.url }}" alt="Tweet image" class="tweet-image">
                {% endif %}
            </div>
            <div class="tweet-footer">
                <button class="like-btn" data-post-id="{{ post.id }}">
                    <i class="fa fa-heart"></i> {{ likes }} Likes
                </button>
                <button class="comment-btn" data-post-id="{{ post.id }}">
                    <i class="fa fa-comment"></i> {{ post.comments.count }} Comments
                </button>
            </div>
        </div>
        {% empty %}
        <p>No posts available to explore.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/explore.js' %}"></script>
{% endblock js %}