<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Twitter Clone{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{% url 'core:home' %}" class="nav-link">
                    Home
                    </a>
                </li>
                <li><a href="{% url 'social:explore' %}" class="nav-link">Explore</a></li>
                <li><a href="{% url 'users:account_settings' %}" class="nav-link">Account</a></li>
            </ul>
        </nav>
    </header>
    

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Twitter Clone. All rights reserved.</p>
            <p>
                {% comment %} <a href="{% url 'core:home' %}" class="footer-link">Home</a> | 
                <a href="{% url 'core:about' %}" class="footer-link">About Us</a> | 
                <a href="{% url 'core:contact' %}" class="footer-link">Contact Us</a> | 
                <a href="{% url 'core:privacy_policy' %}" class="footer-link">Privacy Policy</a> {% endcomment %}
            </p>
            <p>Follow us on 
                <a href="https://twitter.com" target="_blank" class="footer-social">Twitter</a>, 
                <a href="https://facebook.com" target="_blank" class="footer-social">Facebook</a>, and 
                <a href="https://instagram.com" target="_blank" class="footer-social">Instagram</a>.
            </p>
        </div>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
