.error-container {
    text-align: center;
    padding: 100px 20px;
    background-color: #ffffff;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.error-title {
    font-size: 8rem;
    font-weight: bold;
    color: #C41E3A;
    margin-bottom: 20px;
}

.error-message {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 30px;
}

.btn-error-home {
    display: inline-block;
    background-color: #C41E3A;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-error-home:hover {
    background-color: #333;
    color: #ffffff;
}