/* General Body Styling */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Container Styling */
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

/* Header Styling */
.header {
    background-color: #C41E3A;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: black;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar a:hover::after {
    width: 100%;
}

/* Footer Styling */
.footer {
    background-color: #C41E3A;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 10px 0;
    font-size: 16px;
}

.footer-link, .footer-social {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover, .footer-social:hover {
    color: black;
}