/* Section Headers */
img {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header h2 {
    color: #C41E3A;
    font-size: 35px;
    margin-bottom: 40px;
}

/* Welcome Banner */
.welcome-banner {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.welcome-banner img {
    max-width: 50%;
    border-radius: 25px;
    margin-right: 20px;
}

.welcome-text {
    max-width: 50%;
}

.welcome-text p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

/* Description Section */
.description-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.description-content img {
    max-width: 50%;
    border-radius: 25px;
    margin-right: 20px;
}

.description-content p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

/* Features List */
.features-list {
    display: flex;
    align-items: center; /* Vertically aligns the text and image */
    justify-content: flex-start; /* Positions items to the left (default behavior) */
    margin-bottom: 20px;
    gap: 20px; /* Adds space between the image and text */
}

.features-list img {
    max-width: 44.5%; /* Set the width of the image */
    border-radius: 25px;
}

.features-list ul {
    max-width: 55%; /* Set the width of the text area */
    list-style: disc inside; /* Ensures bullets are inside */
    padding-left: 0; /* Remove padding */
}

.features-list li {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

/* Responsive Images */
.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* css code for delete account message*/
.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.message {
    background-color: #fff;
    border: 2px solid #C41E3A;
    color: #C41E3A;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
    max-width: 80%;
}

.message.success {
    background-color: #d4edda;
    color: #721c24;
    border-color: #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

.message-container .message {
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
